*{
  margin: 0;
}

.App {
  display: flex;
  text-align: center;
}

/* .container__prodCard {
  max-width: 700px;  
  display: grid;
  justify-content: initial;
  text-align: justify;
}

table { 
  padding: 20px;  
  margin: 35px;
  box-shadow: 10px 10px 8px 10px #888888;
} */